:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --succes: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f4266;
  --hero-background: #2e2f42b2;
  --white-background: #ffffff;
  --modal-backgroung: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
  background-color: var(--white-background);
}

a {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.h-one-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-background);
  max-width: 496px;
}

.h-two-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}

.h-three-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--dark);
  margin-bottom: 8px;
  text-align: center;
}

.p-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.text-centered {
  text-align: center;
}

.small-text {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.04em;
}

.medium-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.button {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-brand);
  color: var(--white-background);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--pressed-state);
}

.link {
  text-decoration: none;
  display: block;
}

.link:hover,
.link:focus {
  color: var(--pressed-state);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-brand);
  text-transform: uppercase;
  margin-right: 76px;
}

.white {
  color: var(--accent);
}

.studio-logo {
  color: var(--dark);
}

.studio-logo-white {
  color: var(--light);
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/*HEADER*/

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-elements {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
  margin: 0;
  padding-left: 0;
}

.menu-link {
  padding: 24px 0;
}

address {
  font-style: normal;
}

.adress-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/* MAIN-SCREEN */

.main-screen {
  padding: 188px 0;
  color: var(--white-background);
  background-color: var(--dark);
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* BLOCK-2 */

.block-second {
  padding: 120px 0;
}

.about-menu {
  display: flex;
  gap: 24px;
  margin: 0;
  padding-left: 0;
}

.element-list {
  width: calc((100% - 72px) / 4);
}
/* BLOCK-3 */

.block-third {
  padding-bottom: 120px;
}

.img-menu {
  display: flex;
  gap: 24px;
  margin: 0;
  padding-left: 0;
}

.img-element {
  width: calc((100% - 48px) / 3);
}

/* BLOCK-4 */

.block-fourth {
  background-color: var(--light);
  padding: 120px 0;
}

.list-el {
  background-color: var(--white-background);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.wrapper {
  padding: 32px 0;
}

/* filter block  */

/* portfolio-content */

.portfolio-content {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  padding-left: 0;
}

.button-filter {
  font-family: "Roboto", sans-serif;
  background-color: var(--light);
  color: var(--primary-brand);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--accent);
  border-radius: 4px;
}

.button-filter:focus,
.button-filter:hover {
  color: var(--white-background);
  background-color: var(--pressed-state);
  border: 1px solid transparent;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0;
  padding-left: 0;
}

.portfolio-el {
  width: calc((100% - 48px) / 3);
  overflow: hidden;
}

.wrapper-portfolio-el {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* FOOTER */

.footer {
  background-color: var(--dark);
  color: var(--white-background);
  padding: 100px 0;
}

.footer-text {
  line-height: 1.5;
  color: var(--light);
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
